knapsack/data/ks_60_0 filter=lfs diff=lfs merge=lfs -text
knapsack/data/ks_100_1 filter=lfs diff=lfs merge=lfs -text
knapsack/data/ks_40_0 filter=lfs diff=lfs merge=lfs -text
knapsack/data/ks_82_0 filter=lfs diff=lfs merge=lfs -text
knapsack/data/ks_1000_0 filter=lfs diff=lfs merge=lfs -text
knapsack/data/ks_106_0 filter=lfs diff=lfs merge=lfs -text
knapsack/data/ks_19_0 filter=lfs diff=lfs merge=lfs -text
knapsack/data/ks_300_0 filter=lfs diff=lfs merge=lfs -text
knapsack/data/ks_500_0 filter=lfs diff=lfs merge=lfs -text
knapsack/data/ks_100_0 filter=lfs diff=lfs merge=lfs -text
knapsack/data/ks_100_2 filter=lfs diff=lfs merge=lfs -text
knapsack/data/ks_10000_0 filter=lfs diff=lfs merge=lfs -text
knapsack/data/ks_200_0 filter=lfs diff=lfs merge=lfs -text
knapsack/data/ks_4_0 filter=lfs diff=lfs merge=lfs -text
knapsack/data/ks_45_0 filter=lfs diff=lfs merge=lfs -text
knapsack/data/ks_200_1 filter=lfs diff=lfs merge=lfs -text
knapsack/data/ks_30_0 filter=lfs diff=lfs merge=lfs -text
knapsack/data/ks_400_0 filter=lfs diff=lfs merge=lfs -text
knapsack/data/ks_50_0 filter=lfs diff=lfs merge=lfs -text
knapsack/data/ks_50_1 filter=lfs diff=lfs merge=lfs -text
